@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Yatra+One&display=swap");

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("./Img/background3.jpeg") center/cover no-repeat;
}

  .images {
  background-color: #cf9f4c;
  flex: 0 0 80%;
  min-height: 70vh;
  background: url("./Img/berg.jpeg") center/cover no-repeat;
  border-radius: 20px;
  box-shadow: 5px 10px black;
  position: relative;
}

.btn {
  position: absolute;
  display: inline-block;
  background: white;
  color: black;
  border: 3px solid #446042;
  font-size: 0.9rem;
  padding: 0.5rem;
  border-radius: 20%;
  box-shadow: 2px 5px black;
  outline: none;
  cursor: pointer;
}

.prevBtn {
  top: 50%;
  left: 0px;
  transform: translate(-50%, -50%);
  font-family: Merriweather, sans-serif;
  font-weight: 700;
}

.nexBtn {
  top: 50%;
  right: 0px;
  transform: translate(50%, -50%);
  font-family: Merriweather, sans-serif;
  font-weight: 700;


}
.btn:active {
  background: grey;
  box-shadow: 1px 1px grey;
}
.btn:hover {
  background: #446042;
  color: white;
}

/* h1{
    font-family: Yatra One, sans-serif;
    text-transform: uppercase;
    font-size: 3rem;
    color:  #A99049;
    text-shadow: 3px 5px black;
    padding: 40px 20px;
} */
@media screen and {max-width: 750px}{

    .images{
min-width: 100%;    }
}